# Alluvial Diagrams Challenge KEY

DS 2023 | Communicating with Data

Create alluvial diagrams of various data sets.

## Intructions

Using the code given below, create alluvial diagrams of the following data sets:

- Penguins
- Titanic
- Taxis

Submit this notebook as your participation.

## Set Up

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from seaborn import load_dataset

### Read in Data

In [2]:
PENGUINS = load_dataset('penguins')
TITANIC = load_dataset('titanic')
TAXIS = load_dataset('taxis')

### Define Plotting Function

In [3]:
def alluvialplot(df, dim_cols:list, color_col:str, title=None):
    
    # The color column must be a category
    if df[color_col].dtype != 'category':
        df[color_col] = df[color_col].astype('category')
    
    fig = px.parallel_categories(
        df, 
        dimensions=dim_cols,
        color=df[color_col].cat.codes,
        height=1000,
        title=title
    )
    fig.update_traces(line={'shape': 'hspline'})
    fig.update_layout(coloraxis_showscale=False)
    fig.show()

## Visualize Data

### Penguins

Show species, island, and sex, coloring by island.

In [1]:
# CODE

### Titanic

Show sex and survived colored by sex.

In [1]:
# CODE

Show sex, class, and survived, colored by sex.

In [1]:
# CODE

Show class, sex, and survived, colored by sex.

In [1]:
# CODE

### Taxis

Show pickup_borough and dropoff_borough, colored by pickup_borough.

In [1]:
# CODE

Show pickup_borough, passengers, and dropoff_borough, colored by pickup_borough.

In [1]:
# CODE